    label{
        color: brown;
    }
    input{
        background-color: grey; 
        color: aquamarine;
    }
    h1{
        background-color: rgb(241, 193, 193);
        color: indigo;
    }
    